# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build outputs
dist/
build/
tmp/
temp/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
logs/*.log

# OS / Editor files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/
*.swp

# Cache
.cache/
.eslintcache
.npm/
.yarn/
.pnp.*
.pnp

# Docker
docker-data/
*.pid

# Testing
coverage/
